.App {
  max-height: 100%;
  max-width: 100%;
}

.Header {
  display: block;
  position: absolute;
  height: auto;
  width: 50px;
  bottom: 0;
  top: 0;
  left: 0;
  margin: 10px 0px;
  background: #fff;
  overflow-y: scroll;
  transition: 0.5s;
}

.header-title {
  margin-top: 200px;
  white-space: nowrap;
  transition: 0.5s;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
}

.Header-active {
  width: 300px;
  text-align: left;
  transition: 0.5s;
}

.header-nav {
  font-family: Lato-Regular;
  font-size: 16px;
  color: #4A4A4A;
  line-height: 30px;
  padding: 50px;
  transition-delay: 5s;
  transition: 2s;
}

.Header h2, .Header p {
  padding: 10px 0;
}

.Header h2 {
  font-size: 20px;
}

.Header .navigationImg {
  margin-left: 10px;
  position: fixed;
}

.header-logo {
  padding: 56px;
}

.selectedArrow {
  opacity: 0;
  transition: 0.2s;
}

.header-nav h2:hover .selectedArrow{
  opacity: 1;
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -o-transform: translateX(10px);
  -ms-transform: translateX(10px);
  padding-right: 10px;
}
.header-nav h2:hover {
  margin-left: -10px;
  padding-left: 10px;
  background-color: rgb(256, 256, 0);
}





.Main {
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 10px 10px 10px 50px;
  background: #d9d9d9;
  box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.20);
  transition: 0.5s;
}

.Main-active {
  margin-left: 300px;
}

.main-fade-out {
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(56, 56, 56, 0.81);
  box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.20);
  transition: 0.5s;
  z-index: 2;
}
