.App {
  max-height: 100%;
  max-width: 100%;
}

.Header {
  display: block;
  position: absolute;
  text-align: center;
  height: auto;
  width: 50px;
  bottom: 0;
  top: 0;
  left: 0;
  margin: 10px 0px;
  background: #fff;
  
}

.header-title {
  white-space: nowrap;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
}

.Main {
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 10px 10px 10px 50px;
  background: #d9d9d9;
  box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.20);
}

.Header-active {
  width: 300px;
}

.Main-active {
  margin-left: 300px;
}
