.About {
  height: 100%;
  background: $color-light;
  display: flex;
}

// .About-inactive {
//   opacity: 0;
//   transition: 0.5s;
// }

.About-active {
  opacity: 1;
  transition: 0.5s;
}

.about-header {
  background-color: $color-lighter;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 0.4em;
}
