.About {
  height: 100%;
  width: 100%;
  background: $color-light;
  display: flex;
  flex-direction: column;
}

.About-active {
  opacity: 1;
  transition: 0.5s;
}

.about-header {
  background-color: $color-lighter;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 0.4em;
}

.about-header:hover {
  transition: $transition-main;
  background: $color-base;
}

.back-to-home {
  padding-right: 10px;
  transition: $transition-main;
}

.about-header:hover .back-to-home {
  padding-left: 5px;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
