.component-full-screen {
  height: 100%;
  width: 100%;
  background: $color-light;
  display: flex;
  flex-direction: column;
}

.component-full-screen-active {
  opacity: 1;
  transition: 0.5s;
}

.component-full-screen-header {
  background-color: $color-lighter;
  display: flex;
  align-items: center;
  padding: 10px;
}

.component-full-screen-header:hover {
  transition: $transition-main;
  background: $color-base;
}

.back-to-home {
  padding-right: 10px;
  transition: $transition-main;
}

.component-full-screen-header:hover .back-to-home {
  padding-left: 5px;
}

.component-full-screen-content {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    margin: 40px 0px;
  }
  form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  button {
    margin: 40px 0px;
  }
  input, textarea {
    width: 250px;
  }
  textarea {
    height: 90px;
  }
}

.component-full-screen-content-1 {
  background : $color-main-vibrant;
}

.component-full-screen-content-2 {
  background : $color-main-vibrant-2;
}

.component-full-screen-content-3 {
  background : $color-main-vibrant-3;
  h2, h3, h4 {
      color: $color-lighter;
  }
}