.Header {
  position: absolute;
  height: auto;
  width: 50px;
  bottom: 0;
  top: 0;
  left: 0;
  margin: 10px 0px;
  line-height: 30px;
  overflow-y: scroll;
}

.header-title {
  letter-spacing: 0.1em;
  position: fixed;
  font-size: 1em;
  top: 280px;
  left: -165px;
  transition: $transition-main;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
}

.header-title-inactive {
  opacity: 0;
  left: -200px;
}

.header-title-span {
  color: rgb(149, 149, 149);
  padding: 0px 20px;
}

.header-aside {
  position: absolute;
  top: 150px;
  width: 300px;
  opacity: 0;
  visibility: hidden;
}

.header-aside-active {
  top: 50px;
  opacity: 1;
  transition: $transition-main;
  visibility: visible;
}

.Header-active {
  width: 300px;
  text-align: left;
}

.header-nav {
  color: #4A4A4A;
  padding: 25px 50px 25px 50px;
}

.header-bio {
  padding: 25px 50px;
}

.Header h2, .Header p {
  padding: 10px 0;
}

.Header .navigationImg {
  margin-top: 11px;
  margin-left: 10px;
  position: fixed;
  transition: $transition-main;
  z-index: 1;
}

.Header .navigationImg:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transition: $transition-main;
}

.header-logo {
  display: block;
  padding: 10px 106px;
}

.social-icons {
  text-align: center;
}

.social-logo {
  height: 30px;
  width: 30px;
  margin: 5px;
  display: inline-block;
  transition: $transition-fast;
}

.social-logo:hover{
  height: 35px;
  width: 35px;
  margin: 2.5px;
}

.selectedArrow {
  opacity: 0;
  transition: $transition-main;
}

.header-nav .unselected-nav:hover .selectedArrow{
  opacity: 1;
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -o-transform: translateX(10px);
  -ms-transform: translateX(10px);
  padding-right: 10px;
}

.header-nav .unselected-nav:hover {
  margin-left: -10px;
  padding-left: 10px;
  background-color: $color-main-vibrant;
}

.selected-nav {
  color: rgb(180, 180, 180);
  pointer-events: none;
}

.minimize-header {
  visibility: hidden;
  width: 0px;
  opacity: 0;
}
