.Projects {
  @include flex-center;
  height: 100%;
  width: 100%;
  background: $color-light-medium;
  background-size: cover;
  overflow-y: scroll;
}
.project-card {

}
.project {

}
.activate-computer-button {
  background: $color-medium;
  color: $color-base;
  border: none;
  font: $font-main;
  font-size: 20px;
  padding: 10px;
}
.activate-computer-button:hover {
  background: $color-medium-dark;
}


.computer {
  @include flex-center;
  flex-direction: column;
  perspective: 2400px;
}
.computer-back {
  @include flex-center;
  background: $color-medium;
  transition: $transition-medium;
  border-radius: 4px 4px 0px 0px;
  transform-origin: bottom;
  transform: rotateX(-90.4deg);
  width: 600px;
  height: 400px;
  margin-top: -400px;
}

.computer-back-open {
  transform-origin: bottom;
  transform: rotateX(0deg);
  margin-top: 0px;
}

.computer-screen {
  @include flex-center;
  background: $color-base;
  width: 95%;
  height: 95%;
}
.computer-bottom {
  background: $color-medium-dark;
  border-radius: 0px 0px 4px 4px;
  width: 725px;
  height: 30px;
}

@media (max-width: 600px) {
  .computer-back {
    width: 200px;
    height: 400px;
  }
  .computer-screen {
    width: 90%;
    height: 80%;
  }
  .computer-bottom {
    visibility: hidden;
    opacity: 0;
  }
}
