.Tiles {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: url(../../../public/img/steamboat-barn.jpg) no-repeat fixed;
  background-size: cover;
}
.tile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 25%;
  font-family: Lato-Regular;
  transition: 2s ease-in-out 2s;
}
.tile {
  opacity: 0;
  color: $color-main-vibrant;
  font-size: 0.4em;
  transition: 1s ease-in-out 1s;
}

.tile-container:hover .tile{
  color: $color-darker;
  opacity: 1;
  transition: $transition-main ease-in-out 0s;
}
.tile-container:hover {
  background: rgb(52, 52, 52);
  overflow: hidden;
  z-index: 3;
  background: url(../../../public/img/steamboat-barn.jpg) no-repeat fixed;
  background-size: cover;
}
.tile-1 {
  background: $color-light;
}
.tile-2 {
  background: $color-light-medium;
}
.tile-3 {
  background: $color-medium;
}
.tile-4 {
  background: $color-medium-dark;
}

.tile-container:hover {
  transition: $transition-main ease-in-out 0s;
}
