.Tiles {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: url(../../../public/img/blake.png) no-repeat fixed;
  background-size: cover;
}
.tile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 25%;
  height: 25%;
  transition: 1s ease-in-out 1s;
  color: $color-main-vibrant;
}
.tile {
  opacity: 0;
  transition: 0.5s ease-in-out 0.5s;
}

.tile-container:hover .tile{
  opacity: 1;
  font-size: 1.2em;
  transition: $transition-medium ease-in-out 0s;
}
.tile-container:hover {
  background: rgb(52, 52, 52);
  overflow: hidden;
  z-index: 3;
  background: url(../../../public/img/blake.png) no-repeat fixed;
  background-size: cover;
}
.tile-1 {
  background: opacify($color-light, 0.2);
  color: $color-main-vibrant;
}
.tile-2 {
  background: opacify($color-light-medium, 0.2);
  color: $color-main-vibrant;
}
.tile-3 {
  background: opacify($color-medium, 0.2);
  color: $color-main-vibrant;
}
.tile-4 {
  background: opacify($color-medium-dark, 0.2);
  color: $color-main-vibrant;
}

.tile-container:hover {
  transition: $transition-main ease-in-out 0s;
}
