// COLOR
$color-base: white;
$color-lighter: darken($color-base, 7);
$color-light: darken($color-base, 15);
$color-light-medium: darken($color-base, 30);
$color-medium: darken($color-base, 45);
$color-medium-dark: darken($color-base, 60);
$color-dark: darken($color-base, 75);
$color-darker: darken($color-base, 85);

$color-main-vibrant: rgb(121, 255, 227);


// FONT
$font-main: 'Lato', sans-serif;;


// GRADIENTS


// MARGINS
$margin-main: 10px 10px 10px 50px;
$margin-main-maximized: 10px;
$margin-main-selected: 20px 20px 20px 300px;

// IMGS



// MIXINS

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin shadow-main-inner {
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.20);
}

@mixin shadow-main-outer {
  box-shadow: inset 3px 3px 10px 0 rgba(0,0,0,0.20);
}

@mixin shadow-screen-glow {
  box-shadow: 0 0 200px 5px rgba(238, 254, 255, 0.25), inset 0 0 35px 5px rgba(239,254,255,0.10);
}

//EFFECTS

$transition-main: 0.25s;
$transition-fast: 0.1s;
$transition-medium: 0.5s;
$transition-slow: 2s;
